body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background: #f4f6f2;
}

/* HEADER */
.header {
  text-align: center;
  padding: 40px 15px;
  color: white;
  background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
  background-size: cover;
  background-position: center;
}

.header h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

.header p {
  font-size: 14px;
}

/* SEARCH */
.search-box {
  padding: 15px;
}

.search-box input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

/* LIST */
.container {
  padding: 10px;
}

/* CARD */
.card {
  display: flex;
  gap: 10px;
  background: white;
  border-radius: 14px;
  padding: 12px;
  margin-bottom: 12px;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

/* ẢNH */
.card img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

/* TEXT */
.card h3 {
  font-size: 16px;
  margin: 0;
}

.card p {
  margin: 3px 0;
  font-size: 13px;
  color: #555;
}

.card a {
  font-size: 14px;
  color: #6b8e23;
  font-weight: bold;
  text-decoration: none;
}

/* DESKTOP (>=768px) */
@media (min-width: 768px) {
  .header h1 {
    font-size: 32px;
  }

  .container {
    max-width: 800px;
    margin: auto;
  }

  .card {
    padding: 15px;
  }

  .card img {
    width: 100px;
    height: 100px;
  }
}
